<ul class="cbp_tmtimeline">
  <% @timelines.each do |timeline| %>
    <% if timeline.source == "Twitter" then %>
      <li>
        <time class="cbp_tmtime" datetime=""><span><%= timeline.created_at_date %></span> <span><%= timeline.created_at_time %></span></time>
        <% if timeline.is_liked then %>
        <div class="cbp_tmicon-favorite">
          <%= form_tag("/favorites", method: "delete") do %>
            <%= hidden_field_tag 'timeline_id', timeline.id %>
            <%= hidden_field_tag 'timeline_source', timeline.source %>
            <%= image_submit_tag("favorited.png")   %>
          <% end %>
        </div>
        <% else %>
        <div class="cbp_tmicon-favorite">
          <%= form_tag("/favorites", method: "post") do %>
            <%= hidden_field_tag 'timeline_id', timeline.id %>
            <%= hidden_field_tag 'timeline_source', timeline.source %>
            <%= image_submit_tag("favorite.png")  %>
          <% end %>
        </div>
        <% end %>
        <div class="cbp_tmicon cbp_tmicon-twitter"></div>
        <div class="cbp_tmlabel">
          <h2><%= "@" + timeline.user %></h2>
          <p><%= timeline.body %></p>
        </div>
      </li>
    <% else %>
    <li>
      <time class="cbp_tmtime" datetime=""><span><%= timeline.created_at_date %></span> <span><%= timeline.created_at_time %></span></time>
      <% if timeline.is_liked then %>
       <div class="cbp_tmicon-favorite">
        <%= form_tag("/favorites", method: "delete") do %>
          <%= hidden_field_tag 'timeline_id', timeline.id %>
          <%= hidden_field_tag 'timeline_source', timeline.source %>
          <%= image_submit_tag("favorited.png")   %>
        <% end %>
        </div>
      <% else %>
        <div class="cbp_tmicon-favorite">
        <%= form_tag("/favorites", method: "post") do %>
          <%= hidden_field_tag 'timeline_id', timeline.id %>
          <%= hidden_field_tag 'timeline_source', timeline.source %>
          <%= image_submit_tag("favorite.png")  %>
        </div>
        <% end %>
      <% end %>
      <div class="cbp_tmicon cbp_tmicon-googlenews"></div>
      <div class="cbp_tmlabel">
        <h2><%= timeline.author %></h2>
        <p><%= timeline.body %></p>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>
